* {
    margin: 0;
    padding: 0;
}


body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: rgb(18, 18, 62);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: lavender;
    font-size: 1.03rem;
}

main hr {
    border: 0;
    background-color: #9c97f1;
    height: 1.2px;
    margin: 60px 84px;
}

.left {
    font-size: 1.5rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 140px 0;
}

.firstSection>div {
    width: 30%;
}

.leftSection {
    font-size: 2rem;

}

.leftSection .button {
    padding: 10px 60px;
}

.leftSection .btn {
    padding: 12px;
    background-color: #1e2167;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;

}

.leftSection .linkedin {
    padding: 12px;
    background-color: #1e2167;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;

}

.rightSection img {
    width: 80%;
}

.purple {
    color: rgb(170, 107, 228);
}

.text-gray {
    color: gray;
    display: flex;
    /* justify-content: space-around; */
    justify-content: baseline;
    align-items: center;
    margin-left: 10ch;
}

#element {
    color: rgb(170, 107, 228);
}

.secondSection {
    max-width: 80vw;
    margin: auto;
}

h1 {
    display: flex;
    margin-left: 7%;
    /* height: 10vh; */

}

.secondSection h1 {
    font-size: 1.9rem;
}

main hr {
    border: 0;
    background-color: #9c97f1;
    height: 1.2px;
    margin: 60px 84px;
}


h2 {
    margin-left: 29%;
    display: flex;
    height: 23%;


}

.secondSection h2 {
    font-size: 1rem;
}

footer {
    background-color: #060625;
}


.footer {
    display: flex;
    padding: 2px 122px;
    justify-content: space-evenly;
}

.footer ul {
    list-style: none;
}

.footer>div {
    width: 223px;
}

footer .footer-rights {
    text-align: center;
    color: rgb(128, 128, 128);
    padding: 0;
    margin-top: 10px;
}

.secondhr {
    padding: 0;
}

.companybtn {
    font-size: 1.5rem;
    margin-left: 3px;
    margin-top: 1px;
    color: #0949b9
}

.education h1 {
    display: flex;
    margin-left: center;
    font-size: 2rem;
    margin-top: 40px;

}

.education h3 {
    margin-left: 55vh;
    height: 5vh;
}

.graduation h3 {
    height: auto;
}

.certificate {
    margin-left: 2px;
    margin: 5px;
    display: flex;
    font-size: 1.3rem;
}

.instagram {
    margin-left: 7vh;
    display: flex;
    /* background-color: red; */
}

footer .footer-rights h3 {
    display: flex;
    margin-left: 4vh;
}
